[submodule "zeromq4-x"]
	path = zeromq4-x
	url = https://github.com/zeromq/zeromq4-x.git
[submodule "libzmq"]
	path = libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "ZingBDD"]
	path = ZingBDD
	url = https://github.com/dmeehan1968/ZingBDD.git
[submodule "gsl"]
	path = gsl
	url = http://github.com/imatix/gsl.git
